%h1 Pick a sources and have fun !
%h2 Some stats for you:
%ul
  %li
    Sources number:
    %span.badge
      = Source.count
  %li
    Posts do resolve:
    %span.badge.badge-info
      = Post.where(state: 'standby').count
  %li
    Looks Created:
    %span.badge.badge-success
      = Post.where(state: 'created').count
  %li
    In line posts:
    %span.badge.badge-warning
      = Post.where(state: 'in_line').count
  %li
    Rejected posts:
    %span.badge.badge-important
      = Post.where(state: 'rejected').count
