%ul.nav.nav-tabs.nav-stacked.main-nav
  %li.nav-header Sources
  -sources.collect do |source|
    %li
      %span.badge
        =source.posts.map(&:state).select{|v| v =~ /standby/}.count
      =link_to source.title, [source, :posts]


