%h1 Welcome to Crop!
%div.crop-area
  =image_tag @post.look_image, id: 'cropbox'

%div.crop-preview.well
  %h2 Preview
  %div{:style => "width:100px; height:100px; overflow:hidden;"}
    = image_tag @post.look_image.url, :id => "preview"

= form_for [ @post.source, @post ] do |f|
  - %w(x y w h).each do |attribute|
    = f.hidden_field "crop_#{attribute}"
  .actions
    = f.submit 'Crop It !', class: 'btn btn-primary'

