=render partial: 'shared/back_foward_nav', :locals => { path: sources_path }
%ol.posts-list
  -@posts.collect do |post|
    %li
      =link_to post.url.gsub(/http:\/\/|www./,''), source_post_path(post.source_id,post.id), class: post.state

