= render partial: 'shared/back_foward_nav', :locals => { path: source_posts_path }

- if @post.look_image.url
  - if @post.state == 'standby'
    %div.preview.well
      = image_tag @post.look_image.adjusted.url, class: 'img-preview'
      =form_tag(source_post_moderate_path(@post.source_id,@post.id), id:'submit-look')  do
        %fieldset.occasions
          %legend Occasions
          - [ 'Casual Day Out', 'Casual Night Out', 'Beachwear', 'Sportwear', 'Black-tie', 'Work', 'Day Party', 'Evening Party' ].map do |occasion|
            %label
              %input{ type: :checkbox, name: 'occasions[]', value: occasion }
              =occasion
        %fieldset.garments
          %legend
            Garments
            - [ 'Dresses', 'Blouses', 'T-Shirts', 'Sweaters / Cardigans', 'Jackets / Blazers', 'Skirts', 'Shorts', 'Pants', 'Denim', 'Print', 'Animal Print', 'Boot', 'Stripes', 'Leather', 'Fur', 'Tank top', 'Tricot', 'Check', 'Ton Sur Ton', 'Floral'].map do |garment|
              %label
                %input{ type: :checkbox, name: 'garments[]', value: garment }
                =garment
        %input{ type: :submit, name: 'state', value: 'Get in line', class: [ 'btn', 'btn-success' ] }
      - unless @post.state == 'created'
        = form_for [ @post.source, @post ] do |f|
          = f.check_box :remove_look_image, checked: true, class: 'discart-image'
          = f.submit 'Discart Image !', class: [ 'btn btn-danger']
      %div.clearfix
  - elsif @post.state == 'in_line'
    %h2 Look watting in line :
    %p 
      Not working ?
      = form_for [ @post.source, @post ] do |f|
        = f.check_box :remove_look_image, checked: true, class: 'discart-image'
        = f.submit 'try again'
        = f.hidden_field 'state', value: 'standby'
    = image_tag @post.look_image.thumb.url if @post.look_image
  - elsif @post.state == 'created'
    = 'created :'
    = image_tag @post.look_image.thumb.url if @post.look_image


.btn-group.post-actions
  =form_tag(source_post_moderate_path(@post.source_id,@post.id)) do
    - if @post.state == 'standby' and !@post.look_image.file
      %input.btn.btn-danger{ type: :submit, name: 'state', value: 'Reject' }

= 'This Post has no images !' if @post.images.empty?

- unless @post.look_image.url
  %div.imgs-select-container
    %ul.thumbnails
      - @post.images.collect do |image|
        %li.span4
          %a.thumbnail.amp-look{ href: '#'}
            = image_tag image.src, id: image._id

/ Crop Holder
#crop-holder.well
  %h3
    Crop it! or
    %button.btn.btn-info.close-crop Pick another image
  %div.crop-area
    %img.look-img#cropbox
  = form_for [ @post.source, @post ] do |f|
    - %w(x y w h).each do |attribute|
      = f.hidden_field "crop_#{attribute}"
    = f.hidden_field 'remote_look_image_url'
    = f.hidden_field 'state', value: 'standby'
    .actions
      = f.submit 'Crop It !', class: 'btn btn-primary'

