.posts-list li {
  margin:10px 0;
}

.posts-list li .created, .rejected, .in_line {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-border-radius:3px;
  border-radius:3px;
  padding:5px;
  color:#fff;
}

.posts-list li .created {
  background-color:#468847;
}

.posts-list li .created:hover {
  background-color:#fff;
  color:#468847;
}

.posts-list li .rejected {
  background-color:#b94a48;
}

.posts-list li .rejected:hover {
  background-color:#fff;
  color:#b94a48;
}

.posts-list li .in_line {
  background-color:#f89406;
}

.posts-list li .in_line:hover {
  background-color: #fff;
  color:#f89406;
}

.fading {
  opacity: 0.3;
}

#crop-holder {
  display: none;
  overflow: hidden;
}

.crop-area {
  float:left;
  overflow:hidden;
  margin-right:20px;
}

.crop-preview {
  overflow:hidden;
}

.img-preview {
  float:left;
  margin-right:30px;
}

.options-list {
  margin-left:30px;
}

.modal-body {
  max-height: 900px;
  max-width: 600px;
}

.discart-image {
  display: none;
}
