!!! 5
%html
%head
  %title FetchLook
  =stylesheet_link_tag  'application', media: :all
  =javascript_include_tag 'applications' 
  =csrf_meta_tags 
  %meta{ name: :viewport, content: 'width=device-width', :'initial-scale' => '1.0' }
%body
  %div.container
    %p.notice
      =notice
    %p.alert
      =alert
    =yield

