!!! 5
%html
%head
  %title FetchLook
  =stylesheet_link_tag  'application', media: :all
  =javascript_include_tag 'applications' 
  =csrf_meta_tags 
  %meta{ name: :viewport, content: 'width=device-width', :'initial-scale' => '1.0' }
%body
  =link_to 'Logout', destroy_admin_session_path, method: :delete, class: 'btn btn-danger btn-logout'
  %div.page-header.well
    %div.container
      %h1
        Hello
        %i
          -if current_admin
            =link_to current_admin.email, '/'
          -else
            =link_to 'Login', new_admin_session_path
        %small
          You have 
          %span.badge.badge-info
            =Post.where(state: 'standby').all.count
          posts to resolve
  %div.row
    %div.span4  
      %div.well
        =render partial: 'shared/sources_list', :locals => { sources:  Source.all }
    %div.span8
      =yield
